header .text-red {
  color: red;
}

.text-blue {
  color: blue;
}

h2 {
  color: #777;
}

header > p {
  font-style: italic;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.bg-light-grey {
  background: #ddd;
}